.jumbotron {
  margin: 0px auto;
  padding: 25px 50px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#name {
  font-size: 54px;
  color: white;
}

#slogan {
  font-size: 36px;
  color: white;
}
